﻿@{
    ViewBag.Title = "Home Page";
}
@model HH.Models.ObservationEntryViewModel
<div class="pull-right">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <input value="LogOff" type="submit" />
    }
</div>
<div class="jumbotron">
    <h1>Hygiene Tracker</h1>
</div>
@using (Html.BeginForm("SubmitObservation", "FormSubmit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedFloor, "Floor")
                @Html.EnumDropDownListFor(x => x.SelectedFloor, "Select a floor", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedHCW, "Worker Type")
                @Html.EnumDropDownListFor(x => x.SelectedHCW, "Select a Health Care Worker", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedOpportunity, "Opportunity")
                @Html.EnumDropDownListFor(x => x.SelectedOpportunity, "Select an opportunity", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(x => x.SelectedHHC, "Compliance type")
                @Html.EnumDropDownListFor(x => x.SelectedHHC, "Select a hand hygiene compliance", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <section id="DateRangeForm">
                    <Label>Submit Date:</Label>
                    @Html.TextBoxFor(f => f.SubmitDate, new { @name = "SubmitDateInput", @id = "SubmitDateInput" })
                    <div id="SubmitDateCal" class="date-picker"></div>
                </section>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Isolation Type</label>
                <div>
                    @Html.DropDownListFor(m => m.IsolationType, Model.IsolationTypes, new { @id = "IsolationType", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="contact browncontact droplet">
                    @Html.LabelFor(m => m.IsGownCompliant, "Gown:")
                    @Html.EditorFor(m => m.IsGownCompliant)
                </div>
                <div class="contact browncontact droplet">
                    @Html.LabelFor(m => m.IsGlovesCompliant, "Gloves:")
                    @Html.EditorFor(m => m.IsGlovesCompliant)
                </div>
                <div class="browncontact">
                    @Html.LabelFor(m => m.IsBrownBleachCompliant, "Bleach:")
                    @Html.EditorFor(m => m.IsBrownBleachCompliant)
                </div>
                <div class="droplet">
                    @Html.LabelFor(m => m.IsMaskCompliant, "Mask:")
                    @Html.EditorFor(m => m.IsMaskCompliant)
                </div>
            </div>
            <div class="form-group">
                <div class="airborne">
                    @Html.LabelFor(m=>m.AirborneDropItems, "Airborne")
                    @Html.DropDownList("AirborneDrop", Model.AirborneDropItems, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div id="respCheckbox">
                    @Html.LabelFor(m=>m.IsRespiratorCompliant, "Respirator:")
                    @Html.EditorFor(m => m.IsRespiratorCompliant)
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
}