﻿@{
    ViewBag.Title = "Home Page";
}
@using HH.Models
@model ObservationRangeViewModel
<div class="pull-right">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <input value="LogOff" type="submit"/>
    }
</div>
<div class="jumbotron">
    <h1>Hygiene Tracker</h1>
</div>
@using (Html.BeginForm("GetByDateRange", "Observations", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Retrieval")" class="btn btn-lg btn-primary">
                    Generate Report
            </a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("Create")" class="btn btn-lg btn-primary">
                New Observation
            </a>
        </div>
    </div>

}
