﻿@{
    ViewBag.Title = "Home Page";
}
@using HH.Models
@model ObservationRangeViewModel
<div class="pull-right">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <input value="LogOff" type="submit" />
    }
</div>
<div class="jumbotron">
    <h1>Hygiene Tracker</h1>
</div>
@using (Html.BeginForm("GetByDateRange", "Observations", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-6">
            <section id="DateRangeForm">
                <Label>Starting Date:</Label>
                @Html.TextBoxFor(f => f.StartDate, new { @name = "StartDateInput", @id = "StartDateInput" })
                <div id="StartDate" class="date-picker"></div>
            </section>
        </div>
        <div class="col-md-6">
            <section id="DateRangeForm">
                <Label>Ending Date:</Label>
                @Html.TextBoxFor(f => f.EndDate, new { @class = "date-picker", @name = "EndDateInput", @id = "EndDateInput" })
                <div id="EndDate" class="date-picker"></div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Submit" name="submit">
        </div>
    </div>

}
@Scripts.Render("~/Scripts/custom.js")
